@page
@model Waho.Pages.Cashier.ReturnOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Waho - Sản Phẩm</title>
    <link href="~/css/modal.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="background: #f2f2f2">
    @*start filter*@
    <div style=" padding:10px;margin-top: 20px; border-radius: 10px;" class="col-lg-12">
        <form method="get" asp-page="./Details" asp-route-pageIndex="@Model.pageIndex" asp-route-pageSize="@Model.pageSize" style="margin-bottom: 20px; ">
            <div class="d-flex">
                <div class="form-group me-4">
                        <select id="inputState" class="form-control" asp-for="@Model.pageSize" onchange="this.form.submit()">
                            <option value="5"> 5 hàng</option>
                            <option value="10">10 hàng</option>
                            <option value="15">15 hàng</option>
                            <option value="20">20 hàng</option>
                        </select>
                        <input name="returnOrderID" type="hidden" value="@Model._returnOrderID" />
                </div>
                <div class="form-group me-4">
                    <button class="btn btn-primary" type="submit">
                        <a style="text-decoration: none; color: white" asp-page="./ExportReturnOrderDetail" asp-route-returnOrderID="@Model.ReturnOrder.ReturnOrderId">
                            Export Excel
                            <i class="bi bi-download"></i>
                        </a>
                    </button>
                </div>
            </div>
        </form>
    </div>
    @*end filter*@
    @if (Model.message != null)
    {
        <div id="notification" class="w-50 alert alert-danger">@Model.message</div>
    }
    @if (Model.successMessage != null)
    {
        <div id="notificationSuccess" class="w-50 alert alert-success">@Model.successMessage</div>
    }
    <div class="row">
        <div class="col-lg-2" style="background-color: #fff; border-radius: 10px; padding:10px;margin-right: 10px">
            <div class="row">
                <form method="post" asp-page="./Details" id="inventorySheetForm">
                    <div class="wt-widgettitle">
                        <h2>Thông tin hóa đơn hoàn</h2>
                    </div>
                    <div class="wt-widgetcontent">
                        <div class="wt-categoriescontent">
                            <label>Tên khách hàng</label>
                            <div>@Model.ReturnOrder.Customer.CustomerName</div>
                            <input name="customerID" type="hidden" value="@Model.ReturnOrder.CustomerId" />
                            <label>Người tạo đơn</label>
                            <div>@Model.ReturnOrder.UserNameNavigation.EmployeeName</div>
                            <input name="employeeID" type="hidden" value="@Model.ReturnOrder.UserName" />
                            <input name="returnOrderID" type="hidden" value="@Model.ReturnOrder.ReturnOrderId" />
                            <label>Số tiền cần trả khách</label>
                            <input name="payCustomer" type="text" readonly value="@Model.ReturnOrder.PayCustomer" />
                            <label>Số tiền đã trả khách</label>
                            <input name="paidCustomer" type="number" min="0" value="@Model.ReturnOrder.PaidCustomer" required/>
                            <label>Trạng thái</label>
                            <label class="row">
                                <input name="state" type="checkbox" class="col-1" style="width:20%" value="true" @(Model.ReturnOrder.State == true ? "checked":"") /> <div class="w-75 col-5">Đã hoàn thành</div>
                            </label>
                            <label>Ngày tạo</label>
                            <input name="date" type="datetime" value="@Model.ReturnOrder.Date" />
                            <label>Nội dung</label>
                            <input name="description" asp-for="@(Model.ReturnOrder.Description)" value="@(Model.ReturnOrder.Description)" />
                        </div>
                    </div>
                    <div style="margin-top:20px">
                    <button id="btnSubmit" class="btn btn-primary" type="submit">Lưu</button>
                    <a class="btn btn-primary" asp-page="./Index"> Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-9" style="overflow-x: auto; background-color: #fff; border-radius: 10px; padding:10px;margin-left:10px">
            @if (Model.TotalCount > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Thương hiệu
                            </th>
                            <th>
                                Giá tại kho
                            </th>
                            <th>
                                Số lượng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.returnOrderProducts)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Trademark)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.UnitInStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center mt-5">
                    <div class="pagination">
                        <ul class="pagination">
                            @if (Model.pageIndex > 1)
                            {
                                <li class="page-item"><a class="page-link link-paging" asp-page="./Details" asp-route-pageIndex="@(Model.pageIndex - 1)" asp-route-pageSize="@Model.pageSize" asp-route-returnOrderID="@Model._returnOrderID">Trước</a></li>
                            }
                            @for (int i = 1; i <= Math.Ceiling(Model.TotalCount / (double)Model.pageSize); i++)
                            {
                                <li class="page-item @(Model.pageIndex == i ? "active" : "") link-active"><a class="page-link link-paging" asp-page="./Details" asp-route-pageIndex="@i" asp-route-pageSize="@Model.pageSize" asp-route-returnOrderID="@Model._returnOrderID">@i</a></li>
                            }
                            @if (Model.pageIndex < Math.Ceiling(Model.TotalCount / (double)Model.pageSize))
                            {
                                <li class="page-item"><a class="page-link link-paging" asp-page="./Details" asp-route-pageIndex="@(Model.pageIndex + 1)" asp-route-pageSize="@Model.pageSize" asp-route-returnOrderID="@Model._returnOrderID">Sau</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="text-center">Không có phiếu hoàn đơn nào</div>
            }
        </div>
    </div>
    <script src="../../../admin/js/tabler.min.js" defer></script>
    <script src="../../../admin/js/demo.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
