@page
@model Waho.Pages.WarehouseStaff.InventorySheetManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Waho - Sản Phẩm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="~/css/modal.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="background: #f2f2f2">
    @*start filter*@
    <div style=" padding:10px;margin-top: 20px; border-radius: 10px;" class="w-100 col-lg-12">
        <form method="get" asp-page="./Details" asp-route-pageIndex="@Model.pageIndex" asp-route-pageSize="@Model.pageSize" style="margin-bottom: 20px; ">
            <div class="row d-flex justify-content-between" style="width:95%">
                <div class="form-group col-md-2">
                    <label for="inputState">Hiển thị</label>
                    <select id="inputState" class="form-control" asp-for="@Model.pageSize" onchange="this.form.submit()">
                        <option value="5"> 5 hàng</option>
                        <option value="10">10 hàng</option>
                        <option value="15">15 hàng</option>
                        <option value="20">20 hàng</option>
                    </select>
                    <input name="inventorySheetID" type="hidden" value="@Model._inventorySheetID" />
                </div>
                <div class="form-group col-md-2">
                    <button style="padding: 5px 15px 5px 15px;border-radius: 5px;text-align: center; margin-top: 20px" class="input-box button" type="submit">
                        <a class="bi" style="text-decoration: none; color: white" asp-page="./ExportInventory" asp-route-inventorySheetID="@Model._inventorySheet.InventorySheetId">
                            Export Excel
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </form>
        </div>
        @*end filter*@
        @if (!string.IsNullOrWhiteSpace(Model.message))
        {
            <div class="w-50 alert alert-danger">@Model.message</div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.successMessage))
        {
            <div class="w-50 alert alert-success">@Model.successMessage</div>
        }
        <div class="row">
            <div class="col-lg-2" style="background-color: #fff; border-radius: 10px; padding:10px;margin-right: 10px">
                <div class="row">
                    <form method="post" asp-page="./Details" id="inventorySheetForm">
                        <div class="wt-widgettitle">
                            <h2>Thông tin phiếu kiểm kho</h2>
                        </div>
                        <div class="wt-widgetcontent">
                            <div class="wt-categoriescontent">
                                <label >Người tạo phiếu</label>
                                <div>@Model._inventorySheet.UserNameNavigation.EmployeeName</div>
                                <input name="employeeID"  type="hidden" value="@Model._inventorySheet.UserName"/>
                                <input name="inventorySheetID" type="hidden" value="@Model._inventorySheet.InventorySheetId"/>
                                <label>Ngày kiểm</label>
                                <input name="date" type="datetime" value="@Model._inventorySheet.Date"/>
                                <label>Nội dung</label>
                                <input name="description" asp-for="@(Model._inventorySheet.Description)" value="@(Model._inventorySheet.Description)" />
                                @{
                                    Int64 totalMoneyCurrent = 0;
                                    Int64 totalMoneyInWeb = 0;
                                    Int64 difference = 0;
                                    foreach (var i in Model.inventorySheetDetailAll)
                                    {
                                        totalMoneyCurrent += i.CurNwareHouse * i.Product.UnitInStock;
                                        totalMoneyInWeb += i.Product.Quantity * i.Product.UnitInStock;
                                    }
                                    difference = totalMoneyCurrent - totalMoneyInWeb;
                                }
                                <label>Tổng tiền thực tế:</label>
                                <div class="text-primary">@totalMoneyCurrent đồng</div>
                                <label>Tổng tiền trên web:</label>
                                <div class="text-primary">@totalMoneyInWeb đồng</div>
                                <label>Số tiền thực tế chêng so với trên web: </label>
                                <div class="text-primary">@difference đồng</div>
                            </div>
                        </div>
                        <button id="btnSubmit" class="input-box button" type="submit" style="padding: 5px;border-radius: 5px;margin-top:30px">Lưu</button>
                        <a class="input-box button" style="padding: 5px;border-radius: 5px;margin-top:30px" asp-page="./Index"> Quay lại</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-9" style="overflow-x: auto; background-color: #fff; border-radius: 10px; padding:10px;margin-left:10px">
                @if (Model.TotalCount > 0)
                {
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Mã phiếu
                                </th>
                                <th>
                                    ngày kiểm
                                </th>
                                <th>
                                    người kiểm
                                </th>
                                <th>
                                    số lượng thực
                                </th>
                                <th>
                                    số lượng web
                                </th>
                                <th>
                                    số lượng chênh lệch
                                </th>
                                <th>
                                    số tiền chênh
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.inventorySheetDetails)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InventorySheetId )
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InventorySheet.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InventorySheet.UserNameNavigation.EmployeeName )
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurNwareHouse)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.Quantity)
                                    </td>
                                    <td>
                                        @{
                                            var value = item.CurNwareHouse - item.Product.Quantity;
                                        }
                                        @value
                                    </td>
                                    <td>
                                        @{
                                            var valueMoney = item.CurNwareHouse * item.Product.UnitInStock - item.Product.Quantity * item.Product.UnitInStock;
                                        }
                                        @valueMoney
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center mt-5">
                        <div class="pagination">
                            <ul class="pagination">
                                @if (Model.pageIndex > 1)
                                {
                                    <li class="page-item"><a class="page-link link-paging" asp-page="./Details" asp-route-pageIndex="@(Model.pageIndex - 1)" asp-route-pageSize="@Model.pageSize" asp-route-inventorySheetID="@Model._inventorySheetID">Trước</a></li>
                                }
                                @for (int i = 1; i <= Math.Ceiling(Model.TotalCount / (double)Model.pageSize); i++)
                                {
                                    <li class="page-item @(Model.pageIndex == i ? "active" : "") link-active"><a class="page-link link-paging" asp-page="./Details" asp-route-pageIndex="@i" asp-route-pageSize="@Model.pageSize" asp-route-inventorySheetID="@Model._inventorySheetID">@i</a></li>
                                }
                                @if (Model.pageIndex < Math.Ceiling(Model.TotalCount / (double)Model.pageSize))
                                {
                                    <li class="page-item"><a class="page-link link-paging" asp-page="./Details" asp-route-pageIndex="@(Model.pageIndex + 1)" asp-route-pageSize="@Model.pageSize" asp-route-inventorySheetID="@Model._inventorySheetID">Sau</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center">Phiếu kiểm hàng này không có sản phẩm nào</div>
                }
            </div>
        </div>
        <script src="../../../admin/js/tabler.min.js" defer></script>
        <script src="../../../admin/js/demo.min.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js"></script>
</body>

