@page
@model Waho.Pages.Cashier.Bills.IndexModel

@{
    ViewData["Title"] = "Index";
}

@*start filter*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Waho - Hoá đơn</title>
</head>
<body class="bg-waho-white">
    <div class="mt-4">
        <form id="billListForm" method="get" asp-page="./Index" style="margin-bottom: 20px;">
            <div class="d-flex">
                <h3 class="col-2 me-4">Hoá đơn</h3>
                <div class="form-group flex-grow-1 me-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="search-input-bill" placeholder="Nhập mã hoá đơn, tên khách hàng" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <label class="input-group-text span-input-primary"><i class="bi bi-search"></i></label>
                    </div>
                </div>
                <div class="form-group me-4">
                    <a class="btn btn-primary" asp-page="./create">
                        <i class="bi bi-person-plus-fill" asp-page="Create"></i> Thêm hoá đơn
                    </a>
                </div>
                <div class="form-group me-4">
                    <button class="btn btn-primary" type="button" onclick="modal('upload-products-modal', 3, 'scale(1)');">
                        <i class="bi bi-upload"></i> Tải lên Excel
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                        <a style="text-decoration: none; color: white" asp-page="./ExportProducts">
                            <i class="bi bi-download"></i> Tải xuống Excel
                        </a>
                    </button>
                </div>
            </div>

            @*end filter*@

            @if (TempData["ErrorMessage"] != null)
            {
                <div id="error-alert" class="d-flex justify-content-end">
                    <div class="alert alert-danger text-center"><h5>@TempData["SuccessMessage"]</h5></div>
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="success-alert" class="d-flex justify-content-end">
                    <div class="alert alert-success text-center"><h5>@TempData["SuccessMessage"]</h5></div>
                </div>
            }
            <div class="d-flex">
                <div class="d-flex flex-column col-2 me-4">
                    <div class="form-group col-6 mx-auto mb-3">
                        <select id="option-primary" class="form-select" asp-for="@Model.pageSize" onchange="this.form.submit()">
                            <option value="5"> 5 hàng</option>
                            <option value="10">10 hàng</option>
                            <option value="15">15 hàng</option>
                            <option value="20">20 hàng</option>
                        </select>
                    </div>
                    <div class="row form-container py-4 mb-3">
                        <div class="m-auto">
                            <div>
                                <h6>Ngày tạo</h6>
                                <hr />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Từ</label>
                                <div class="input-group">
                                    <span class="input-group-text span-input-primary" id="basic-addon1"><i class="bi bi-calendar-minus-fill"></i></span>
                                    <input asp-for="@Model.dateFrom" type="date" class="form-control" id="dateFrom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Đến</label>
                                <div class="input-group">
                                    <span class="input-group-text span-input-primary" id="basic-addon1"><i class="bi bi-calendar-plus-fill"></i></span>
                                    <input asp-for="@Model.dateTo" type="date" class="form-control" id="dateTo">
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn btn-primary" type="button" onclick="validateForSubmit();">Lọc</button>
                                <button class="btn btn-outline-primary" type="button" onclick="clearForSubmit();">Xoá</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-container py-4 mb-3">
                        <div class="m-auto">
                            <div>
                                <h6>Tình trạng</h6>
                                <hr />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='all'" name="status" type="radio" value="all" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Tất cả
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='pending'" name="status" type="radio" value="pending">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Đang xử lý
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='done'" name="status" type="radio" value="done">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Hoàn thành
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='unDeliver'" name="status" type="radio" value="unDeliver">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Không giao được
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.status" asp-checked="@Model.status=='cancel'" name="status" type="radio" value="cancel">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Đã huỷ
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-container py-4">
                        <div class="m-auto">
                            <div>
                                <h6>Trạng thái</h6>
                                <hr />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.active" asp-checked="@Model.active=='all'" type="radio" value="all" id="CheckDefault">
                                <label class="form-check-label" for="CheckDefault">
                                    Tất cả
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.active" asp-checked="@Model.active=='true'" type="radio" value="true">
                                <label class="form-check-label" for="CheckDefault">
                                    Kích hoạt
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" onclick="this.form.submit()" asp-for="@Model.active" asp-checked="@Model.active=='false'" type="radio" value="false">
                                <label class="form-check-label" for="CheckDefault">
                                    Vô hiệu hoá
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.TotalCount > 0)
                {
                    <div class="flex-grow-1">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="tbProductName">
                                        Mã hoá đơn
                                    </th>
                                    <th class="tbImportPrice">
                                        Thời gian
                                    </th>
                                    <th class="tbImportPrice">
                                        Khách hàng
                                    </th>
                                    <th class="tbImportPrice">
                                        Mô tả
                                    </th>
                                    <th class="tbImportPrice">
                                        Tình trạng
                                    </th>
                                    <th class="tbImportPrice">
                                        Trạng thái
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Bills)
                                {
                                    <tr>
                                        <td class="tbProductName">
                                            @Html.DisplayFor(modelItem => item.BillId)
                                        </td>
                                        <td class="tbImportPrice">
                                            @{
                                                DateTime date = (DateTime)item.Date;
                                                @date.ToString("MM/dd/yyyy")
                                                ;
                                            }
                                        </td>
                                        <td class="tbImportPrice">
                                            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                                        </td>
                                        <td class="tbImportPrice">
                                            @Html.DisplayFor(modelItem => item.Descriptions)
                                        </td>
                                        @if (item.BillStatus == "pending")
                                        {
                                            <td class="tbImportPrice">
                                                Đang xử lý
                                            </td>
                                        }
                                        else if (item.BillStatus == "done")
                                        {
                                            <td class="tbImportPrice">
                                                Vô hiệu hoá
                                            </td>
                                        }
                                        else if (item.BillStatus == "unDeliver")
                                        {
                                            <td class="tbImportPrice">
                                                Không giao được
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="tbImportPrice">
                                                Đã huỷ
                                            </td>
                                        }
                                        <td class="tbImportPrice">
                                            @Html.DisplayFor(modelItem => item.BillStatus)

                                        </td>
                                        @if (item.Active == true)
                                        {
                                            <td class="tbImportPrice">
                                                Kích hoạt
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="tbImportPrice">
                                                Vô hiệu hoá
                                            </td>
                                        }
                                        <td>
                                            <a onclick="getProductDetail(@(item.BillId))">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            </a>
                                            ||<a asp-page="./Delete" asp-route-productID="@item.BillId">Chi tiết</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-center mt-5">
                            <div class="pagination">
                                <ul class="pagination">
                                    @if (Model.pageIndex > 1)
                                    {
                                        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.pageIndex - 1)" asp-route-pageSize="@Model.pageSize" asp-route-textSearch="@Model.textSearch" asp-route-dateFrom="@Model.dateFrom" asp-route-dateTo="@Model.dateTo" asp-route-active="@Model.active" asp-route-status="@Model.status">Trước</a></li>
                                    }
                                    @for (int i = 1; i <= Math.Ceiling(Model.TotalCount / (double)Model.pageSize); i++)
                                    {
                                        <li class="page-item @(Model.pageIndex == i ? "active" : "")"><a class="page-link" asp-page="./Index" asp-route-pageIndex="@i" asp-route-pageSize="@Model.pageSize" asp-route-textSearch="@Model.textSearch" asp-route-dateFrom="@Model.dateFrom" asp-route-dateTo="@Model.dateTo" asp-route-active="@Model.active" asp-route-status="@Model.status">@i</a></li>
                                    }
                                    @if (Model.pageIndex < Math.Ceiling(Model.TotalCount / (double)Model.pageSize))
                                    {
                                        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.pageIndex + 1)" asp-route-pageSize="@Model.pageSize" asp-route-textSearch="@Model.textSearch" asp-route-dateFrom="@Model.dateFrom" asp-route-dateTo="@Model.dateTo" asp-route-active="@Model.active" asp-route-status="@Model.status">Sau</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="flex-grow-1 d-flex align-items-center form-container">
                        <h5 class="m-auto">Không có hoá đơn nào phù hợp</h5>
                    </div>
                }
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#success-alert").fadeOut("slow", function () {
                    $(this).remove();
                });
                $("#error-alert").fadeOut("slow", function () {
                    $(this).remove();
                });
            }, 5000); // thời gian để tự động ẩn thông báo (tính bằng mili giây)

            $('#search-input-bill').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    event.preventDefault();
                    // Thực hiện các hành động cần thiết khi người dùng nhấn phím Enter
                }
            });

            var delayTimer;
            $('#search-input-bill').on('input', function () {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(function () {
                    $('#billListForm').submit()
                }, 500); // Thời gian chờ tính bằng mili giây
            });

        });

        function validateForSubmit() {
            const dateFrom = $('#dateFrom').val();
            const dateTo = $('#dateTo').val();


            // Kiểm tra xem giá trị ngày đã nhập đủ 4 số cho phần năm hay chưa
            if (!(dateFrom.length === 10 && dateFrom.charAt(4) === '-' && dateFrom.charAt(7) === '-')) {
                alert("Chưa nhập đủ ngày bắt đầu!")
            } else if (!(dateTo.length === 10 && dateTo.charAt(4) === '-' && dateTo.charAt(7) === '-')) {
                alert("Chưa nhập đủ ngày kết thúc!")
                //toastMessage.showToastError('Lỗi', 'Người dùng chưa nhập đủ 4 số cho phần năm!', 1000)
            }
            else if (Date.parse(dateFrom) > Date.parse(dateTo)) {
                alert("Ngày bắt đầu lớn hơn ngày kết thúc!")
            }
            else {
                $('#billListForm').submit()
            }
        }

        function clearForSubmit() {
            $('#dateFrom').val("");
            $('#dateTo').val("");
            $('#billListForm').submit()
        }

    </script>
</body>

